@use 'variables' as *;
@use 'mixins' as m;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-main;
  font-size: 62.5%;
  line-height: 1.3;
  background-color: $color-bg;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-text;
}

// For switch dark theme
body.switch-theme {
  background-color: $color-bg-dark;
  color: $color-text-light;

  .header,
  .filter,
  .country,
  .input-group {
    background-color: $dark-element;
    box-shadow: $shadow-light;
  }

  .input-search,
  button,
  i,
  input::placeholder,
  a {
    color: $color-text-light;
  }

  .country-button {
    background-color: $dark-element;
    color: $color-text-light;
  }
}

// Helper classes
.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}

.btn-default {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

.country-name {
  font-size: 2.2rem;
  font-size: 800;
  margin-bottom: 2.5rem;
}

.country-info {
  font-size: 1.8rem;
  font-weight: 600;

  .light-text {
    font-weight: 300;
  }
}

// COuntry button
.country-button {
  display: inline-block;
  background-color: $light-element;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: $radius-common;
  box-shadow: $shadow-bold;
  cursor: pointer;
}
